@charset "utf-8";
/*css reset start*/
*{
	margin: 0;
	padding: 0;
}
body{
	background: #efefef;
}
.lf{
	float:left;
}
.rt{
	float:right;
}
.clear{
	clear:both;
}
a,a:hover{
	text-decoration: none;
}
li{
	list-style:none;
}
.ct{
	text-align: center;
}
/*css reset end*/
/*header start*/
.header{
	width:100%;
	height:1.9rem;
	background: #000;
	position:fixed;
	top:0;
	left:0;
}
.header>ul{
	width:20rem;
	margin:auto;
}
.header>ul>li{
	float:left;
}
.header>ul>li>a{
	display:block;
	width:4rem;
	text-align: center;
	font-weight: 800;
	font-size: 1.2em;
	color:#efefef;
	border-left:1px solid #222;
}
.header img{
	margin:auto;
}
.contact1{
	border-right:1px solid #222;
}
/*header end*/
/*img  start*/
.img{
	height:25rem;
	background: url(../images/shitou.jpg) no-repeat 0 3.125rem;
	background-size: cover;
	background-position: center;
}
.img p{
	font-size:4.25rem;
	color:#f0f0f0;
	font-family: "华文行楷";
	line-height: 12.5rem;
	margin:0 auto;
	text-align: center;
	text-shadow: -0.25rem 0.4375rem 0.375rem darkslategrey;
}
.img :first-child{
	text-indent: -5.5rem;
	transform: rotate(-2deg);
	-mos-transform:ratate(-2deg);
	-o-transform: rotate(-2deg);
}
.img :last-child{
	text-indent: 7.5rem;
	transform: rotate(-2deg);
}
/*img end*/
/*content start*/
.cont p{
	padding:0.875rem 0.625rem;
}
.cont span{
	padding-right:1.25rem;
}
.mgin{
	padding-top:3.75rem;
}
.mgin-b{
	padding-bottom:3.75rem;
}
.work-cont .indent{
	margin-left: 4.375rem;
}
#work{
	background: #2c3e50;
	color:#efefef;
}
h4{
	font-weight: 600;
}
h5{
	font-weight: 600;
}
/*作品展示 start*/
.lazyload{
	opacity:0;
}
/*作品展示 end*/
/*技能 start*/
.art{
	background: #2c3e50;
	color:#efefef;
	padding-bottom: 3.75rem;	
}
/*技能 end*/
/*contact start*/
.contact{
	background: #2f2f2f;
	color:#efefef;
	padding-bottom: 3.75rem;
}
.lianjie a{
	color:#efefef;
}
.lianjie a:hover{
	color:#efefef;
}
/*contact end*/
/*content end*/
/*footer start*/
.footer{
	height:4.25rem;
	background: #222;
	padding-top:15px;
	text-align: right;
	color:#efefef;
	line-height: 2.125rem;
}
.footer a{
	color:#f85c37;
}
.footer a:hover{
	color:#7b7b7b;
}
/*footer end*/

